dumbo-0.21.36-py2.7.egg
typedbytes-0.3.8-py2.7.egg
freeling/
*.pyc
*~
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
coocurr/
count_words/
wsd (copia).py
eigen*
red*
coocurrences
coocurrences_nowords
contexts.dat
cluster_centroids.dat
contexts_noletters.dat
coocurrences_word_order
init_clusters.dat
init_clusters_noletters.dat
little_clusters.dat
little_contexts.dat
minimal_contexts_noletters.dat
resultados_clusters.dat
